*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/**Navigation area start**/
nav{
	background-color: #000000;
	width: 100%;
	height: 46px;
	color: white;
	position: fixed;
	box-sizing: border-box;
}
.nav-left{
	width: 50%;
	height: 46px;
	float: left;
	box-sizing: border-box;

}
.nav-left ul{
margin: 0;
padding: 0;

}
.nav-left ul li{
display: inline-block;
padding: 14px 3px;

}
.nav-left ul li a{
text-decoration: none;
color: white;
padding: 14px 16px;

}
.nav-left ul li a:hover{
background-color: #CCCCCC;
color: black;

}
.nav-write{
	width: 50%;
	height: 46px;
	float: left;
	
}
.nav-write .search{
	color: white;
	float: right;
	padding: 15px;
	
}
/**Navigation area end**/

/**Dropdown navigation area start**/
.nav-left ul li ul{
	position: absolute;
	left:  -111111px;
	}
.nav-left ul li:hover ul{
display: block;
left: 381px;

}
.nav-left ul li ul li{
	display: block;
	background-color: white;
	
}
.nav-left ul li ul li a{
	color: black;
	padding: 10px 18px;
	
}
.slider img{
	width: 100%;
	height: 800px;
	
}
/**Dropdown navigation area end**/

/**Band area start**/
.band-area{
	
	width: 100%;
	height: 800px;
	overflow: hidden;
	
}
.main1{
	width: 60%;
	height: 800px;
	
	margin: auto;
	
}
.text{
	width: 100%;
	height: 50%;
	
	padding-top: 100px;
	
}
.text h1{
text-align: center;
padding: 20px;

}
.text h4{
text-align: center;
padding: 10px;
color: #CCCCCC;

}
.text p{
	text-align: justify;
	padding: 5px;
	
}
.camera{
	width: 100%;
	height: 50%;
	background-color: white;
	overflow: hidden;
	
}
.camera .camera1{
	width: 33.3%;
	height: 100%;
	
	float: left;
	
}
.camera img{
	width: 100%;
	height: 270px;
	padding: 40px;
	
}
.camera h3{
	text-align: center;
	padding: 10px;
	
}
.camera .camera2{
	width: 33.3%;
	height: 100%;
	
	float: left;
	
}
.camera .camera3{
	width: 33.3%;
	height: 100%;
	
	float: left;
	
}
/**Band area end**/

/**Tour Dates area start**/

.tour-area{
	width: 100%;
	height: 900px;
	overflow: hidden;
	background-color: black;
	
}
.tour-area .main2{
	width: 60%;
	height: 900px;
	background-color: black;
	margin: auto;
	
}
.tour-area h1{
	text-align: center;
	padding: 80px 0px 10px 0px;
	color: white;
	
}
.tour-area p{
	text-align: center;
	padding: 20px;
	color: white;
	
}
.text1 span{
	padding: 8px 15px;
	display: inline-block;
	
}
.text1 .sold{
	background-color: red;
	
	
}
.text1{
	width: 100%;
	height: 150px;
	background-color: black;
	
	
}
.text1 .sep{
	width: 100%;
	height: 40px;
	background-color: white;
	border-bottom: 1px solid black;
	
}	
.sep-1{
	background-color: white;
	width: 100%;
	height: 40px;
	overflow: hidden;
	
}
.sep-1 .sep-left{
	width: 50%;
	height: 40px;
	background-color: white;
	float: left;
	
}
.sep-left .sep-write{
	width: 50%;
	height: 40px;
	background-color: white;
	float: left;
	
}
.three{
	background-color: black;
	padding: 10px 10px;
	float: right;
	color: white;
	border-radius: 50px;
	width: 35px;
	height: 35px;
	
}
.new-york{
	width: 100%;
	height: 500px;
	background-color: white;
	overflow: hidden;
	
}
.new-york .fast-pic{
	background-color: white;
	width: 33.3%;
	height: 500px;
	float: left;
	padding: 5px;
	
}
.new-york img{
	width: 100%;
	height: 250px;
	
}
.new-york h2{
padding: 10px 20px;
font-size: 20px;

}
.new-york h3{
padding: 10px 20px;
font-size: 20px;
color: #CCCCCC;

}
.new-york p{
padding: 10px 20px;
text-align: justify;
color: black;
}
.new-york button{
padding: 14px 20px;
margin-left: 17px;
background-color: black;
color: white;
	
}
.new-york .midd-pic{
	background-color: white;
	width: 33.3%;
	height: 500px;
	float: left;
	padding: 5px;
	
}
.new-york .last-pic{
	background-color: white;
	width: 33.3%;
	height: 500px;
	float: left;
	padding: 5px;
	
}
/**Tour Dates area end**/

/**contact area start**/
.contact-area{
	width: 100%;
	height: 400px;
	
	overflow: hidden;
	
}
.contact-area .contact-left{
	width: 40%;
	height: 400px;
	
	float: left;
	
}
.chicago{
	float: right;
	padding-top: 160px;
	
}
.contact-area .contact-write{
	width: 60%;
	height: 400px;
	
	float: left;
	
}
.contact-write h1{
	padding-top: 80px;
	padding-left: 40px;
	
}
.contact-write p{
	padding-top: 20px;
	padding-left: 40px;	
	
}
.contact-write form{
	padding-top: 20px;
	padding-left: 40px;	
	
}	

 form .a{
	padding: 10px;
	
}

input[type="submit"]{
	background-color: black;
	color: white;
	padding: 10px;
	margin-left: 327px;
	
}
/**contact area end**/
/**image area start**/

/**image area end**/

/**Icon area star**/
.icon{
	width: 100%;
	height: 200px;
	
}
.icon .icon-1{
	width: 35%;
	height: 200px;
	margin: auto;
	padding-top: 100px;
	padding-left: 150px;
	padding-bottom: 50px;
	
}
.icon-1 i{
	color: white;
	padding: 10px 12px;
	background-color: #A0A0A0;
	border-radius: 50%;
	font-size: 20px;
	
}
.icon-1 span{
	padding-top: 10px;
	
}
/**Icon area end**/